html {
    font-family: sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
}

.Logo {
    margin-left: 20px;
    vertical-align: middle;
}

.Title-logo {
    font-size: 30px;
    display: inline;
    vertical-align: middle;
}

.Background {
    background-color: rgb(235, 235, 235);
}

.Box-list {
    width: 80%;
    background-color: white;
    margin: 30px auto;
}

.button {
    border-radius: 5px;
}

.right {
    color: white;
    background-color: rgb(69, 163, 240);
    margin: 10px 0px 10px 40px;
    border: none;
    padding: 5px;
}


.left {
    background-color: white;
    color: rgb(194, 192, 192);
    margin: 10px 40px 10px 0px;
    border: 1px solid rgb(194, 192, 192);
    padding: 5px;    
}

hr {
    color: rgb(194, 192, 192);
}

.section-list {
    margin-top: 15px;
}

h2 {
    display: inline;
}

ul {
    list-style-type: none;
    margin top: 5px;
    }